---
title: EFFecting Change: The Human Cost of Online Age Verification
url: https://www.eff.org/deeplinks/2026/01/effecting-change-human-cost-online-age-verification
source: Deeplinks
date: 2026-01-06
fetch_date: 2026-01-07T03:30:44.439634
---

# EFFecting Change: The Human Cost of Online Age Verification

[Skip to main content](#main-content)

* [About](/about)
  + [Contact](/about/contact)
  + [Press](/press/contact)
  + [People](/about/staff "Details and contact information for the EFF's staff")
  + [Opportunities](/about/opportunities)
  + [EFF's 35th Anniversary](/35)
* [Issues](/work)
  + [Free Speech](/issues/free-speech)
  + [Privacy](/issues/privacy)
  + [Creativity and Innovation](/issues/innovation)
  + [Transparency](/issues/transparency)
  + [International](/issues/international)
  + [Security](/issues/security)
* [Our Work](/updates)
  + [Deeplinks Blog](/deeplinks)
  + [Press Releases](/updates?type=press_release)
  + [Events](/updates?type=event)
  + [Legal Cases](/pages/legal-cases)
  + [Whitepapers](/updates?type=whitepaper)
  + [Podcast](/taxonomy/term/11579/)
  + [Annual Reports](https://www.eff.org/about/annual-reports-and-financials)
* [Take Action](https://act.eff.org/)
  + [Action Center](https://act.eff.org/)
  + [Electronic Frontier Alliance](/fight)
  + [Volunteer](/about/opportunities/volunteer)
* [Tools](/pages/tools)
  + [Privacy Badger](https://www.eff.org/pages/privacy-badger)
  + [Surveillance Self-Defense](https://www.eff.org/pages/surveillance-self-defense)
  + [Certbot](https://www.eff.org/pages/certbot)
  + [Atlas of Surveillance](https://www.eff.org/pages/atlas-surveillance)
  + [Cover Your Tracks](https://www.eff.org/pages/cover-your-tracks)
  + [Street Level Surveillance](https://sls.eff.org/)
  + [apkeep](/pages/apkeep)
* [Donate](https://supporters.eff.org/donate/join-eff-today "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/join-eff-today)
  + [Giving Societies](/givingsociety)
  + [Shop](https://shop.eff.org)
  + [Sponsorships](https://www.eff.org/thanks#organizational_members)
  + [Other Ways to Give](/helpout)
  + [Membership FAQ](/pages/membership-faq "Frequently Asked Questions and other information about EFF Memberships.")
* [Donate](https://supporters.eff.org/donate/site-m--h "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/site-m--h)
  + [Shop](https://shop.eff.org)
  + [Other Ways to Give](/helpout)

---

Email updates on news, actions,
and events in your area.

[Join EFF Lists](https://eff.org/signup)

* [Copyright (CC BY)](/copyright)
* [Trademark](/pages/trademark-and-brand-usage-policy "Trademark and Brand Usage Policy")
* [Privacy Policy](/policy)
* [Thanks](/thanks)

[Electronic Frontier Foundation](/)

[Donate](https://supporters.eff.org/donate/site-m--m)

[Electronic Frontier Foundation](/)

* [About](/about)
  + [Contact](/about/contact)
  + [Press](/press/contact)
  + [People](/about/staff "Details and contact information for the EFF's staff")
  + [Opportunities](/about/opportunities)
  + [EFF's 35th Anniversary](/35)
* [Issues](/work)
  + [Free Speech](/issues/free-speech)
  + [Privacy](/issues/privacy)
  + [Creativity and Innovation](/issues/innovation)
  + [Transparency](/issues/transparency)
  + [International](/issues/international)
  + [Security](/issues/security)
* [Our Work](/updates)
  + [Deeplinks Blog](/deeplinks)
  + [Press Releases](/updates?type=press_release)
  + [Events](/updates?type=event)
  + [Legal Cases](/pages/legal-cases)
  + [Whitepapers](/updates?type=whitepaper)
  + [Podcast](/taxonomy/term/11579/)
  + [Annual Reports](https://www.eff.org/about/annual-reports-and-financials)
* [Take Action](https://act.eff.org/)
  + [Action Center](https://act.eff.org/)
  + [Electronic Frontier Alliance](/fight)
  + [Volunteer](/about/opportunities/volunteer)
* [Tools](/pages/tools)
  + [Privacy Badger](https://www.eff.org/pages/privacy-badger)
  + [Surveillance Self-Defense](https://www.eff.org/pages/surveillance-self-defense)
  + [Certbot](https://www.eff.org/pages/certbot)
  + [Atlas of Surveillance](https://www.eff.org/pages/atlas-surveillance)
  + [Cover Your Tracks](https://www.eff.org/pages/cover-your-tracks)
  + [Street Level Surveillance](https://sls.eff.org/)
  + [apkeep](/pages/apkeep)
* [Donate](https://supporters.eff.org/donate/join-eff-today "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/join-eff-today)
  + [Giving Societies](/givingsociety)
  + [Shop](https://shop.eff.org)
  + [Sponsorships](https://www.eff.org/thanks#organizational_members)
  + [Other Ways to Give](/helpout)
  + [Membership FAQ](/pages/membership-faq "Frequently Asked Questions and other information about EFF Memberships.")
* [Donate](https://supporters.eff.org/donate/site-m--h "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/site-m--h)
  + [Shop](https://shop.eff.org)
  + [Other Ways to Give](/helpout)

# EFFecting Change: The Human Cost of Online Age Verification

DEEPLINKS BLOG

By [Melissa Srago](/about/staff/melissa-srago)

January 6, 2026

![](https://www.eff.org/files/banner_library/effecting_change_banner_age2.png)

# EFFecting Change: The Human Cost of Online Age Verification

**Share It**
[Share on Mastodon](https://mastodonshare.com/?text&url=https://www.eff.org/deeplinks/2026/01/effecting-change-human-cost-online-age-verification)
[Share on Twitter](https://twitter.com/intent/tweet?text=EFFecting%20Change%3A%20The%20Human%20Cost%20of%20Online%20Age%20Verification&url=https%3A//www.eff.org/deeplinks/2026/01/effecting-change-human-cost-online-age-verification&via=eff&related=eff "Share on Twitter")
[Share on Facebook](https://www.facebook.com/share.php?u=https%3A//www.eff.org/deeplinks/2026/01/effecting-change-human-cost-online-age-verification&title=EFFecting%20Change%3A%20The%20Human%20Cost%20of%20Online%20Age%20Verification "Share on Facebook")
[Copy link](https://www.eff.org/deeplinks/2026/01/effecting-change-human-cost-online-age-verification "Copy to clipboard")

![](https://www.eff.org/files/styles/resized_banner/public/banner_library/effecting_change_banner_age2.png?itok=6QA65to7)

Age verification mandates are spreading fast, and they’re ushering in a new age of online surveillance, censorship, and exclusion for everyone—not just young people. Age-gating laws generally require websites and apps to collect sensitive data from every user, often through invasive tools like ID checks, biometric scans, or other dubious “estimation” methods, before granting them access to certain content or services. Lawmakers tout these laws as the silver-bullet solution to “kids’ online safety,” but in reality, age-verification mandates wall off large swaths of the web, build sweeping new surveillance infrastructure, increase the risk of data breaches and real-life privacy harms, and threaten the anonymity that has long allowed people to seek support, explore new ideas, and organize and build community online.

Join [EFF's Rindala Alajaji](https://www.eff.org/event/effecting-change-human-cost-online-age-verification#Rin) and [Alexis Hancock](https://www.eff.org/event/effecting-change-human-cost-online-age-verification#Alexis) along with [Hana Memon from Gen-Z for Change](https://www.eff.org/event/effecting-change-human-cost-online-age-verification#hana) and [Cynthia Conti-Cook from Collaborative Research Center for Resilience](https://www.eff.org/event/effecting-change-human-cost-online-age-verification#cynthia) for a conversation about what we stand to lose as more and more governments push to age-gate the web. We’ll break down how these laws work, who they exclude, and how these mandates threaten privacy and free expression for people of all ages. The conversation will be followed by a live Q&A.

***EFFecting Change Livestream Series:
The Human Cost of Online Age Verification
Thursday, January 15th
12:00 PM - 1:00 PM Pacific
This event is LIVE and FREE!***

***[![RSVP Today](https://www.eff.org/files/2024/03/20/rsvptoday_0.png)](https://join.eff.org/Additional-donation/?readableEventId=2026EFFecting_Change_The_Human_Cost_of_Online_Age_Verification2918080358)***

### **Accessibility**

This event will be live-captioned and recorded. EFF is committed to improving accessibility for our events. If you have any ac...