---
title: Horizon3.ai is named a Customer’s Choice in the October 2025 Gartner® Peer Insights™ “Voice of the Customer”: Adversarial Exposure Validation report
url: https://horizon3.ai/downloads/research/horizon3-ai-is-named-a-customers-choice-in-the-october-2025-gartner-peer-insights-voice-of-the-customer-adversarial-exposure-validation-report/
source: Horizon3.ai
date: 2025-12-04
fetch_date: 2025-12-05T03:17:08.818908
---

# Horizon3.ai is named a Customer’s Choice in the October 2025 Gartner® Peer Insights™ “Voice of the Customer”: Adversarial Exposure Validation report

[Skip to main content](#brx-content)
[Skip to footer](#brx-footer)

[![Renmoe Library](https://horizon3.ai/wp-content/uploads/2024/11/Horizon3ai_Logo_Tagline_Horizontal_RGB-WhiteTxt_NoTag.png)](https://horizon3.ai)

* Solutions

  + Autonomous Pentesting
  + [Internal Pentesting](https://horizon3.ai/nodezero/internal-pentesting/)
  + [External Pentesting](https://horizon3.ai/nodezero/external-pentesting/)
  + [Kubernetes Pentesting](https://horizon3.ai/nodezero/kubernetes-pentesting/)
  + [Cloud Pentesting](https://horizon3.ai/nodezero/cloud-pentesting/)
  + [Active Directory](https://horizon3.ai/nodezero/ad-password-audit/)
  + [Vulnerability Management Hub](https://horizon3.ai/vulnerability-management-hub/)
  + [Threat Informed Perspectives](https://horizon3.ai/threat-informed-perspectives/)

  + [Risk Based Vulnerability Management](https://horizon3.ai/risk-based-vulnerability-management/)
  + [High-Value Targeting](https://horizon3.ai/high-value-targeting/)
  + [Advanced Data Pilfering](https://horizon3.ai/advanced-data-pilfering/)
  + [Threat Actor Intelligence](https://horizon3.ai/threat-actor-intelligence/)
  + [Vulnerability Risk Intelligence](https://horizon3.ai/vulnerability-risk-intelligence/)

  + Security Control Validation
  + [Endpoint Security Effectiveness](https://horizon3.ai/endpoint-security-effectiveness/)
  + [Identity Security Validation](https://horizon3.ai/identity-security-validation/)
  + [Data Security Effectiveness](https://horizon3.ai/use-case/data-security-effectiveness/)

  + Threat Detection and Response
  + [Tripwires](https://horizon3.ai/use-case/threat-detection-response/)
  + [AD Tripwires](https://horizon3.ai/ad-tripwires/)

  [Third-Party Risk Management](https://horizon3.ai/use-case/third-party-risk-management/)

  + CISA KEV Exploitation
  + [Rapid Response](https://horizon3.ai/use-case/rapid-response-testing/)
* Platform

  + [The NodeZero Platform](https://horizon3.ai/nodezero/)
  + [AI in Horizon3.ai](https://horizon3.ai/ai-in-horizon3-ai/)
  + [MCP Server](https://horizon3.ai/mcp-server/)

  + [NodeZero for Compliance](https://horizon3.ai/compliance/)
  + [PCI Compliance](https://horizon3.ai/compliance/pci-pentesting/)
  + [NIS 2 Compliance](https://horizon3.ai/compliance/nis-2-compliance/)

  [Why Our Platform Wins](https://horizon3.ai/why-our-platform-wins/)

  + [Who Uses NodeZero?](https://horizon3.ai/who-uses-nodezero/)
  + [ITOps and SecOps](/who-uses-nodezero#itops)
  + [Security Teams](/who-uses-nodezero#security-teams)
  + [Pentesters](/who-uses-nodezero#pentesters)

  + Autonomously Solving Cyber Ranges
  + [NodeZero vs. GOAD](https://horizon3.ai/nodezero-vs-goad/)
  + [Hack The Box (HTB) Attack Stories](https://horizon3.ai/use-case/hack-the-box-htb-attack-stories/)
* Resources

  + [Attack Research](https://horizon3.ai/category/attack-research/)
  + [Resource Center](https://horizon3.ai/resource-center/)
  + [Events](https://horizon3.ai/events/)

  + [Introducing Threat Informed Perspectives: A More Strategic Way to Measure Security Posture](https://horizon3.ai/intelligence/blogs/introducing-threat-informed-perspectives-a-more-strategic-way-to-measure-security-posture/)

    December 3, 2025  |  [Blogs](https://horizon3.ai/category/intelligence/blogs/)
  + [Endpoint Detection and Response: What It Is and How to Know Yours Is Working](https://horizon3.ai/intelligence/blogs/endpoint-detection-and-response-what-it-is-and-how-to-know-yours-is-working/)

    November 24, 2025  |  [Blogs](https://horizon3.ai/category/intelligence/blogs/)
  + [Supercharging Enterprise AI with Real-World Exploitability Data: The NodeZero MCP Server Advantage](https://horizon3.ai/intelligence/webinars/supercharging-enterprise-ai-with-real-world-exploitability-data-the-nodezero-mcp-server-advantage/)

    November 19, 2025  |  [Video](https://horizon3.ai/category/intelligence/webinars/)
  + [Prioritize What’s Proven: The NodeZero® Approach to Risk‑Based Vulnerability Management](https://horizon3.ai/intelligence/blogs/prioritize-whats-proven-the-nodezero-approach-to-risk%E2%80%91based-vulnerability-management/)

    November 18, 2025  |  [Blogs](https://horizon3.ai/category/intelligence/blogs/)

  + Use Cases
  + [US Public Sector](https://horizon3.ai/use-case/us-public-sector/)
  + [NodeZero Federal™](https://horizon3.ai/use-case/use-case-nodezero-fedramp-high/)
  + [Education](https://horizon3.ai/use-case/nodezero-in-education/)
  + [Healthcare](https://horizon3.ai/use-case/for-healthcare/)
  + [Manufacturing](https://horizon3.ai/use-case/nodezero-in-manufacturing/)
  + [Financial Services](https://horizon3.ai/use-case/nodezero-for-financial-services/)
  + [Supply Chain](https://horizon3.ai/use-case/nodezero-for-supply-chain/)
  + [Large Organizations](https://horizon3.ai/who-uses-nodezero/#large-org)
  + [MSSP and MSP](https://horizon3.ai/partners/mssp-msp/)
* Company

  + [About Us](https://horizon3.ai/horizon3-security-vision/)
  + [Leadership](https://horizon3.ai/about-us/)
  + [Careers](https://horizon3.ai/join-our-team/)
  + [In the News](https://horizon3.ai/category/news/press-release/)
  + [Contact Us](https://horizon3.ai/contact-us/)
* [Partners](https://horizon3.ai/partners/)
* Access NodeZero

  + [Request A Demo](https://horizon3.ai/contact-us/schedule-demo/)
  + [Start A Trial](https://freetrial.horizon3ai.com/)
  + [Log In](https://freetrial.horizon3ai.com/)

* Solutions

  + Autonomous Pentesting
  + [Internal Pentesting](https://horizon3.ai/nodezero/internal-pentesting/)
  + [External Pentesting](https://horizon3.ai/nodezero/external-pentesting/)
  + [Kubernetes Pentesting](https://horizon3.ai/nodezero/kubernetes-pentesting/)
  + [Cloud Pentesting](https://horizon3.ai/nodezero/cloud-pentesting/)
  + [Active Directory](https://horizon3.ai/nodezero/ad-password-audit/)
  + [Vulnerability Management Hub](https://horizon3.ai/vulnerability-management-hub/)
  + [Threat Informed Perspectives](https://horizon3.ai/threat-informed-perspectives/)

  + [Risk Based Vulnerability Management](https://horizon3.ai/risk-based-vulnerability-management/)
  + [High-Value Targeting](https://horizon3.ai/high-value-targeting/)
  + [Advanced Data Pilfering](https://horizon3.ai/advanced-data-pilfering/)
  + [Threat Actor Intelligence](https://horizon3.ai/threat-actor-intelligence/)
  + [Vulnerability Risk Intelligence](https://horizon3.ai/vulnerability-risk-intelligence/)

  + Security Control Validation
  + [Endpoint Security Effectiveness](https://horizon3.ai/endpoint-security-effectiveness/)
  + [Identity Security Validation](https://horizon3.ai/identity-security-validation/)
  + [Data Security Effectiveness](https://horizon3.ai/use-case/data-security-effectiveness/)

  + Threat Detection and Response
  + [Tripwires](https://horizon3.ai/use-case/threat-detection-response/)
  + [AD Tripwires](https://horizon3.ai/ad-tripwires/)

  [Third-Party Risk Management](https://horizon3.ai/use-case/third-party-risk-management/)

  + CISA KEV Exploitation
  + [Rapid Response](https://horizon3.ai/use-case/rapid-response-testing/)
* Platform

  + [The NodeZero Platform](https://horizon3.ai/nodezero/)
  + [AI in Horizon3.ai](https://horizon3.ai/ai-in-horizon3-ai/)
  + [MCP Server](https://horizon3.ai/mcp-server/)

  + [NodeZero for Compliance](https://horizon3.ai/compliance/)
  + [PCI Compliance](https://horizon3.ai/compliance/pci-pentesting/)
  + [NIS 2 Compliance](https://horizon3.ai/compliance/nis-2-compliance/)

  [Why Our Platform Wins](https://horizon3.ai/why-our-platform-wins/)

  + [Who Uses NodeZero?](https://horizon3.ai/who-uses-nodezero/)
  + [ITOps and SecOps](/who-uses-nodezero#itops)
  + [Security Teams](/who-uses-nodezero#security-teams)
  + [Pentesters](/who-uses-nodezero#pentesters)

  + Autonomously Solving Cyber Ranges
  + [NodeZero vs. GOAD](https://horizon3.ai/nodezero-vs-goad/)
  + [Hack The Box (HTB) Attack Stories](https://horizon3.ai/use-case/hack-the-box-htb-attack-stories/)
* Resources

  + [Attack Research](https:/...