---
title: 10 (Not So) Hidden Dangers of Age Verification
url: https://www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification
source: Deeplinks
date: 2025-12-08
fetch_date: 2025-12-09T03:18:33.328692
---

# 10 (Not So) Hidden Dangers of Age Verification

[Skip to main content](#main-content)

* [About](/about)
  + [Contact](/about/contact)
  + [Press](/press/contact)
  + [People](/about/staff "Details and contact information for the EFF's staff")
  + [Opportunities](/about/opportunities)
  + [EFF's 35th Anniversary](/35)
* [Issues](/work)
  + [Free Speech](/issues/free-speech)
  + [Privacy](/issues/privacy)
  + [Creativity and Innovation](/issues/innovation)
  + [Transparency](/issues/transparency)
  + [International](/issues/international)
  + [Security](/issues/security)
* [Our Work](/updates)
  + [Deeplinks Blog](/deeplinks)
  + [Press Releases](/updates?type=press_release)
  + [Events](/updates?type=event)
  + [Legal Cases](/pages/legal-cases)
  + [Whitepapers](/updates?type=whitepaper)
  + [Podcast](/taxonomy/term/11579/)
  + [Annual Reports](https://www.eff.org/about/annual-reports-and-financials)
* [Take Action](https://act.eff.org/)
  + [Action Center](https://act.eff.org/)
  + [Electronic Frontier Alliance](/fight)
  + [Volunteer](/about/opportunities/volunteer)
* [Tools](/pages/tools)
  + [Privacy Badger](https://www.eff.org/pages/privacy-badger)
  + [Surveillance Self-Defense](https://www.eff.org/pages/surveillance-self-defense)
  + [Certbot](https://www.eff.org/pages/certbot)
  + [Atlas of Surveillance](https://www.eff.org/pages/atlas-surveillance)
  + [Cover Your Tracks](https://www.eff.org/pages/cover-your-tracks)
  + [Street Level Surveillance](https://sls.eff.org/)
  + [apkeep](/pages/apkeep)
* [Donate](https://supporters.eff.org/donate/join-eff-today "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/join-eff-today)
  + [Giving Societies](/givingsociety)
  + [Shop](https://shop.eff.org)
  + [Sponsorships](https://www.eff.org/thanks#organizational_members)
  + [Other Ways to Give](/helpout)
  + [Membership FAQ](/pages/membership-faq "Frequently Asked Questions and other information about EFF Memberships.")
* [Donate](https://supporters.eff.org/donate/site-m--h "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/site-m--h)
  + [Shop](https://shop.eff.org)
  + [Other Ways to Give](/helpout)

---

Email updates on news, actions,
and events in your area.

[Join EFF Lists](https://eff.org/signup)

* [Copyright (CC BY)](/copyright)
* [Trademark](/pages/trademark-and-brand-usage-policy "Trademark and Brand Usage Policy")
* [Privacy Policy](/policy)
* [Thanks](/thanks)

[Electronic Frontier Foundation](/)

[Donate](https://supporters.eff.org/donate/site-m--m)

[![](https://www.eff.org/files/power-up-2025_sitebanner-desktop_3019x79px_donationsmatchedthisweek-pattern_0.jpg)](https://supporters.eff.org/donate/pu--SBD)[![](https://www.eff.org/files/power-up-2025_sitebanner-mobile_680x147px_dblyrimpact.jpg)](https://supporters.eff.org/donate/pu--SBM)

[Electronic Frontier Foundation](/)

* [About](/about)
  + [Contact](/about/contact)
  + [Press](/press/contact)
  + [People](/about/staff "Details and contact information for the EFF's staff")
  + [Opportunities](/about/opportunities)
  + [EFF's 35th Anniversary](/35)
* [Issues](/work)
  + [Free Speech](/issues/free-speech)
  + [Privacy](/issues/privacy)
  + [Creativity and Innovation](/issues/innovation)
  + [Transparency](/issues/transparency)
  + [International](/issues/international)
  + [Security](/issues/security)
* [Our Work](/updates)
  + [Deeplinks Blog](/deeplinks)
  + [Press Releases](/updates?type=press_release)
  + [Events](/updates?type=event)
  + [Legal Cases](/pages/legal-cases)
  + [Whitepapers](/updates?type=whitepaper)
  + [Podcast](/taxonomy/term/11579/)
  + [Annual Reports](https://www.eff.org/about/annual-reports-and-financials)
* [Take Action](https://act.eff.org/)
  + [Action Center](https://act.eff.org/)
  + [Electronic Frontier Alliance](/fight)
  + [Volunteer](/about/opportunities/volunteer)
* [Tools](/pages/tools)
  + [Privacy Badger](https://www.eff.org/pages/privacy-badger)
  + [Surveillance Self-Defense](https://www.eff.org/pages/surveillance-self-defense)
  + [Certbot](https://www.eff.org/pages/certbot)
  + [Atlas of Surveillance](https://www.eff.org/pages/atlas-surveillance)
  + [Cover Your Tracks](https://www.eff.org/pages/cover-your-tracks)
  + [Street Level Surveillance](https://sls.eff.org/)
  + [apkeep](/pages/apkeep)
* [Donate](https://supporters.eff.org/donate/join-eff-today "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/join-eff-today)
  + [Giving Societies](/givingsociety)
  + [Shop](https://shop.eff.org)
  + [Sponsorships](https://www.eff.org/thanks#organizational_members)
  + [Other Ways to Give](/helpout)
  + [Membership FAQ](/pages/membership-faq "Frequently Asked Questions and other information about EFF Memberships.")
* [Donate](https://supporters.eff.org/donate/site-m--h "Donate to EFF")
  + [Donate to EFF](https://supporters.eff.org/donate/site-m--h)
  + [Shop](https://shop.eff.org)
  + [Other Ways to Give](/helpout)

# 10 (Not So) Hidden Dangers of Age Verification

DEEPLINKS BLOG

By [Rindala Alajaji](/about/staff/rindala-alajaji)

December 8, 2025

![A blue hand holding a cellphone showing a verification screen and ACCESS DENIED in the background](https://www.eff.org/files/banner_library/age_verification-cell_phone-access_denied.png)

# 10 (Not So) Hidden Dangers of Age Verification

**Share It**
[Share on Mastodon](https://mastodonshare.com/?text&url=https://www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification)
[Share on Twitter](https://twitter.com/intent/tweet?text=10%20%28Not%20So%29%20Hidden%20Dangers%20of%20Age%20Verification&url=https%3A//www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification&via=eff&related=eff "Share on Twitter")
[Share on Facebook](https://www.facebook.com/share.php?u=https%3A//www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification&title=10%20%28Not%20So%29%20Hidden%20Dangers%20of%20Age%20Verification "Share on Facebook")
[Copy link](https://www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification "Copy to clipboard")

![A blue hand holding a cellphone showing a verification screen and ACCESS DENIED in the background](https://www.eff.org/files/styles/resized_banner/public/banner_library/age_verification-cell_phone-access_denied.png?itok=86rEMC2R "age verification-access denied-cell phone")

It’s nearly the end of 2025, and [half of the US](https://www.404media.co/missouri-age-verification-law-porn-id-check-vpns/) and [the UK](https://www.eff.org/deeplinks/2025/08/americans-be-warned-lessons-reddits-chaotic-uk-age-verification-rollout) now require you to upload your ID or scan your face to watch “sexual content.” A [handful of states](https://en.wikipedia.org/wiki/Social_media_age_verification_laws_in_the_United_States#Summary) and [Australia](https://abcnews.go.com/Technology/wireStory/australia-enforce-social-media-age-limit-16-week-128064519) now have various requirements to verify your age before you can create a social media account.

Age-verification laws may sound straightforward to some: protect young people online by making everyone prove their age. But in reality, these mandates force users into one of two flawed systems—[mandatory ID checks](https://www.eff.org/deeplinks/2024/12/effs-2024-battle-against-online-age-verification-defending-youth-privacy-and-free) or [biometric scans](https://www.eff.org/deeplinks/2025/01/face-scans-estimate-our-age-creepy-af-and-harmful)—and *both* are deeply discriminatory. These proposals burden everyone’s right to speak and access information online, and structurally excludes the very people who rely on the internet most. In short, although these laws are often passed with the intention to protect children from harm, the reality is that these laws harm both adults and children.

Here’s who gets hurt, and how:

### 1.  Adults Without IDs Get Locked Out

Document-based verification assumes everyone has the right ID, in the right name, at the right address. About 15 million adult U.S. citizens [don’t...